@import url('https //fonts.googleapis.com/css family=roboto');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("img1/fish.jpg") no-repeat center fixed;
    background-size: cover;
}
.csa{
    margin-top: 160px;
}
.main-section {
    margin: 0 auto;
    margin-top: 130 px;
    padding: 0;

}

.modal-content {
    background-color: #434e5a;
    opacity: .750;
    padding: 0 18px;
    border-radius: 10px;
    
}

.user-img img{
    height: 120px;
    width: 120px;
    margin-left:110px;
}

.user-img {
    margin-top: -60px;
    margin-bottom: 45px;
}

.form-group{
    margin-bottom: 25px;
}

.form-group input{
    height: 42px;
    border-radius: 5px;
    font-size-18px;
    letter-spacing: 2px;
    padding-left: 54px;
}

.form-group:before {
    content: "\f003";
    font-family: FontAwesome;
   
    

    color: #555e60
    font-size: 22px;
    left: 28px;
    position: absolute;
    padding-top: 4px;
    
}

.form-group:last-of-type::before {
	content: "\f023";
}
    
.btn{
margin-bottom: 10px;
}


